---
layout: default
---

<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <h2> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h2>
    </div>

    <div id="intro" style="float: left; margin-left: 10%; padding-left: 25px; margin-top: 3%; padding-top: 25px; margin-right: 3%; padding-right: 25px; margin-bottom: 3%; padding-bottom: 0px; width: 40%; background-color: rgb(210, 225, 249); border-radius: 0px 50px 50px 50px;">
    <p><i>
    "DGIST 인공지능 전공에서는 인공지능 교육, 연구, 산학협력의 혁신을 통해
    실무역량을 겸비한 국제적 수준의 AI 고급인재 양성을 목표합니다." <br><br>
    "인공지능 핵심기술 및 서비스 구현기술 연구를 통해 국가 및 글로벌 사회를 위한 AI 수요를 충족하는 동시에,
    최고수준의 인재 양성 및 연구역량을 기반으로 글로벌 AI연구 선도를 목표합니다."
    </i></p>
    </div>

    <div id="intro" style="float: right; margin-top:3%; padding-top: 10px; margin-right: 10%; padding-right: 10px; width: 35%; background-color: rgb(210, 225, 249); border-style: solid; border-color: rgb(210, 225, 249); border-radius: 0px 20px 0px 0px;">
    <p style=" float: left; margin-left: 18px; margin-top: -5px; margin-bottom: 3px;"> News </p>
    </div>
    <div id="intro" style="float: right; margin-right: 10%; padding-right: 10px; margin-bottom: 3%; padding-bottom: 15px; width: 35%; border-style: solid; border-color: rgb(210, 225, 249); border-radius: 0px 0px 20px 20px;">
    {% include blog/blog.liquid %}
    </div>

</div>
